@using PrimeNumbersTable.Web.Models
@using PrimeNumbersTable.Web.Utilities;

@model PrimeNumbersTable.Web.Models.NumbersTableDisplayModel

@{
    ViewBag.Title = "Display";
}

<div class="row">

    <h3>Table of the first @Model.TotalOfNumbers numbers</h3>

    @RenderPrimeNumbersTable()

</div>



@helper RenderPrimeNumbersTable()
{
    <table style="font-size: 0.7em; text-align: right;">
        <!-- Top row here -->
        @RenderFirstRow()

        <!-- Successive rows here -->
        @for (var rowCount = 0; rowCount < Model.TotalOfNumbers; rowCount++)
        {
            @RenderRow(rowCount)
        }
    </table>
}

@helper RenderFirstRow()
{
    <tr>
        <!-- First cell, which is empty, here -->
        @RenderTopLeftCell()

        <!-- Successive cells, containing the whole array of prime numbers, goes here -->
        @for (var i = 0; i < Model.TotalOfNumbers; i++)
        {
            @RenderCellValue(Model.ListOfNumbers[i])
        }
    </tr>
}

@helper RenderRow(int rowCount)
{
    <tr>
        <!-- First cell of each row, containing every number on the array of primes, goes here -->
        @RenderCellValue(Model.ListOfNumbers[rowCount])

        <!-- Successice cells of each row, which will contain the product of the primes, go here -->
        @for (var colCount = 0; colCount < Model.TotalOfNumbers; colCount++)
        {
            @RenderCellValue(Model.ListOfNumbers[rowCount] * Model.ListOfNumbers[colCount])
        }
    </tr>
}

@helper RenderCellValue(int cellValue)
{
    <td>&nbsp;@cellValue</td>
}

@helper RenderTopLeftCell()
{
    <td>&nbsp;&nbsp;&nbsp;</td>
}